@import './skeleton/variables.scss';
@import './skeleton/grids.scss';

.app {
  color: $black;
  &__header {
    &__info {
      margin-top: 15px; 
      h1 {
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
      span:first-child {
        color: $gray;
      }
      span {
        color: $black;
      }
      .social-items  {
        display: flex;
        .social-item {
          margin: 20px 0px;
          &:first-child {
            margin-left: 0;
          }
          img {
            width: 30px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover {
              padding-bottom: 10px;
              border-bottom: 4px solid $blue;
              -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
              filter: grayscale(0%);
            }
          }
        }
      }
    }
  }
}