@import './skeleton/variables.scss';
@import './skeleton/grids.scss';

.app {
  color: $black;
  .head-title {
    margin-bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray;
  }
  .pd-btm {
    padding-bottom: 20px;
  }
  .let-spc {
    letter-spacing: 1px;
  }
  &__header {
    &__info {
      margin-top: 15px;
      h1 {
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
      span:first-child {
        color: $gray;
      }
      span {
        color: $black;
      }
      .personal-info {
        display: inline-block;
      }
      .social-items {
        display: inline-flex;
        float: right;
        height: 6em;
        .social-item {
          margin: auto 20px;
          &:last-child {
            margin-right: 0;
          }
          img {
            width: 30px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover {
              padding-bottom: 10px;
              border-bottom: 4px solid $blue;
              -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
              filter: grayscale(0%);
            }
          }
        }
      }
    }
  }
  &__experience {
    &__item {
      h4 {
        margin-bottom: 5px;
        display: inline;
        a {
          color: $black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        margin: unset;
        display: inline;
        span {
          float: right;
        }
      }
      ul {
        margin-top: 10px;
      }
    }
  }
  &__education {
    h4 {
      span {
        font-weight: 400;
        float: right;
      }
    }
  }
  &__projects {
    &__item {
      p {
        b {
          a {
            color: $black;
          }
        }
      }
    }
  }
  &__certificate {
    span {
      color: $gray;
    }
  }
  &__languages {
  }
  &__award {
    p {
      margin-bottom: 0;
      span {
        float: right;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1060px) {
  .app {
    font-size: 0.67em;
    .social-items {
      .social-item {
        margin: auto 7px;
        img {
          width: 12px;
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }
    }
  }
}